<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>

<footer class="page-footer" style="background:#477091;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="yellow-text">Legacy Intention</h5>
                <p class="grey-text text-lighten-4">News is the pulsating heartbeat of society, pulsating with the power to inform, inspire, and ignite change.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="yellow-text">Contact us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="tel:+923104346688"><i class="fa-solid fa-phone"></i> <span>+92 310 4346688</span></a></li>
                  <li><a class="grey-text text-lighten-3" href="tel:+923123551729"><i class="fa-solid fa-phone"></i> <span>+92 312 3551729</span></a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto:legacyintention@gmail.com"><i class="fa-solid fa-envelope"></i> <span style="margin-left: 5px;">legacyintention@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Copyright | Legacy Intention 2023. <span style="color: yellow;">All Rights Reserved</span>
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>